:root {
    --primaryColor: #2B3E50;
    --secondaryColor: #1BBC9B;
    --primaryColorSubtle: #39546D;
    --primaryTextColor: #fff;
    --secondaryTextColor: #2B3E50;
}

/********************************
        UTILITY CLASSES 
 ********************************/
.jd-star-divider {
    font-size: 2rem;
}

.jd-line-white {
    height: 4px;
    width: 80px;
    background-color: var(--primaryTextColor);
    border-radius: 2px;
}

.jd-line-black {
    height: 4px;
    width: 80px;
    background-color: var(--secondaryTextColor);
    border-radius: 2px;
}

/********************************
        TYPOGRAPHY 
 ********************************/

h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5rem;
}

h3 {
    text-transform: uppercase;
}

/* SECTION HEADER */

#jd-header {
    background-color: var(--primaryColor);
    color: var(--primaryTextColor);
}

.navbar-brand {
    color: var(--primaryTextColor);
}

.nav-link {
    color: var(--primaryTextColor);
}

.navbar-toggler {
    color: var(--primaryTextColor);
}

/* !SECTION HEADER END */


main section:nth-child(odd) {
    background-color: var(--secondaryColor);
    color: var(--primaryTextColor);
}

.jd-message {
    margin-top: 100px;
}

.jd-btn-send {
    background-color: var(--secondaryColor);
    color: var(--primaryTextColor);
}

footer {
    background-color: var(--primaryColorSubtle);
    color: var(--primaryTextColor);
}

.jd-icon {
    padding: 5px;
    border: 1px solid var(--primaryTextColor);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

footer svg {
    fill: var(--primaryTextColor);
    height: 20px;
    width: 20px;
}

footer a {
    color: var(--secondaryColor);
}

#copyright {
    background-color: var(--primaryColor);
}